html {
    background-color: black;
}

#prompt {
    color: brown;
    width: 100%;
    border: none;
    font-size: 3rem;
}
#prompt::placeholder {
    color: rgb(94, 125, 187);
}

#prompt:focus {
        outline: none;
    }

    button {
        display: inline-block;

    }


.card {
    width: 100%;
    background-color: rgb(60, 60, 60);
    padding: 1rem;
    list-style: none;
    margin-bottom: 0.5rem;
    color: white;

}


ul {
    list-style-type: none;
    margin-top: 3rem;
    padding: 0;
    transition: all 0.3 ease-in-out;
    display: block;

}
