$color-red-500: #dc4200;
$color-red-600: lighten($color-red-500, 25%);
$color-red-700: lighten($color-red-500, 50%);
$color-red-800: lighten($color-red-500, 75%);

$color-white: #ffffff;
$color-black: #000230;